.todo_page {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
  }
  
  .todo_page_header {
    font-size: 2rem;
  }
  
  .todo_page_input {
    padding: 2rem;
    width: 500px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 2rem;
    font-size: 1.5rem;
    text-align: center;
    height: auto;
  }
  
  .todo_page_form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  select {
    padding: 1rem;
    margin-top: 2rem;
    margin-left: 2rem;
    border-radius: 5px;
  }
  
  @media screen and (max-width: 600px) {
  
    .todo_page {
      display: flex;
      flex-direction: column;
      height: auto;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 250px;
    }
    .todo_page_header {
      font-size: 1rem;
    }
    .todo_page_form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    select {
      margin: 1rem 0rem;
    }
    .todo_page_input {
      width: 350px;
    }
  }
  