@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
* {
  padding: 0;
  margin: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(to right, #f78cdc 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

.App {
  height: 100vh;
  width: auto;
  font-family: 'Poppins', sans-serif;
  
}
